/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.page-content {
    /* margin-top: 10px; */
    background: #f4f4f4;
    padding: 35px 10px 10px 10px;
    position: relative;
}

.app-background {
    background-color: #f4f4f4 !important;
}

.main-content {
    min-height: 450px !important;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    -o-border-image: initial;
    border-image: initial;
    border-radius: 4px;
}

.row{
    padding: 5px 0px 5px 0px;
}


.text-color{
    color: rgb(78, 47, 252);
}


label {
    font-weight: 600;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
